<div class="mb-4 p-4 border rounded">
  <div class="flex items-center mb-2">
    <img src="<%= opinion.user.google_image_url %>" alt="<%= opinion.user.name %>" class="w-6 h-6 rounded-full">
    <div class="ml-2 font-semibold">
      <%= opinion.user.name %>
    </div>
  </div>
  
  <%= form_with model: opinion do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <div class="mt-2">
      <%= f.text_area :content, class: "textarea textarea-bordered w-full" %>
    </div>
    
    <div class="mt-2 text-right space-x-2">
      <%= f.submit class: "button" %>
      <%= link_to t('.cancel'), question_path(opinion.question), 
                  class: "cancel-button",
                  data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
</div>