<div id="opinion-form">
  <div class="opinion-form-section mb-6">
    <% if current_user %>
      <%= form_with model: [@question, opinion] do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="flex flex-col items-center space-x-2">
          <%= f.text_area :content, placeholder: "意見を投稿...", class: "textarea w-full border border-black focus:outline-none focus:border-orange resize-none transition-all dark:bg-white" %>
          <%= f.submit class: "button mt-4" %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center text-lg text-red-500 text-bold"><i class="fa-regular fa-circle-user mr-2"></i><%= t('opinions.form.opinion_login_prompt')%></p>
    <% end %>
  </div>
</div>
