<%= turbo_frame_tag "opinion_#{opinion.id}", class: "block mb-6 pb-4 border-b border-gray-200" do %>
  <div class="flex items-center mb-2">
    <img src="<%= opinion.user.google_image_url %>" alt="<%= opinion.user.name %>" class="w-6 h-6 rounded-full">
    <div class="ml-2 font-semibold text-gray-800">
      <%= opinion.user.name %>
    </div>
  </div>

  <p class="mt-2 text-gray-700 leading-relaxed"><%= opinion.content %></p>

  <div class="flex justify-between items-center mt-3 text-sm text-gray-500">
    <% if current_user&.own?(opinion) %>
      <div class="flex items-center space-x-3">
        <%= link_to edit_opinion_path(opinion), data: { turbo_frame: "opinion_#{opinion.id}" }, class: "hover:text-gray-800 transition-colors duration-150" do %>
          <i class="fa-solid fa-pen-to-square mr-1"></i><%= t('.edit') %>
        <% end %>

        <%= link_to opinion_path(opinion), data: { turbo_method: :delete, turbo_confirm: t('.delete_confirm')}, class: "text-red-500 hover:text-red-700 transition-colors duration-150" do %>
          <i class="fa-solid fa-trash mr-1"></i><%= t('.destroy')%>
        <% end %>
      </div>
    <% else %>
      <div></div>
    <% end %>

    <div>
      <%= render 'shared/opinion_reaction_button', opinion: opinion %>
    </div>
  </div>
<% end %>