<%= form_with model: user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :avator %>
    <%= f.file_field :avatar %>
  <div class="field flex flex-col items-center">
    <%= f.label :name, t('.edit_name_label'), class: "mb-2" %>
    <%= f.text_field :name, class: "border border-orange p-2 rounded-md w-48" %>
  </div>

  <div class="flex space-x-5 mt-5">
    <%= f.submit class: "button" %>
    <%= link_to t('.cancel'), user_path(user), data: { turbo_frame: "user_profile_frame" }, class: "cancel-button" %>
  </div>
<% end %>
