<%= turbo_frame_tag "user_profile_frame" do%>
    <%= form_with model: user do |f| %>
        <div class="field flex flex-col items-center">
        <%= f.label :name, "変更したい名前を入力", class: "mb-2" %>
        <%= f.text_field :name, class: "border border-orange p-2 rounded-md w-48" %>
        </div>


        <div class="flex space-x-5 mt-5">
        <button type="submit" class="button">更新する</button>
        <%= link_to 'キャンセル', user_path(user), data: { turbo_frame: "user_profile_frame" }, class: "cancel-button" %>
        </div>
    <% end %>
<% end %>