<div class="mt-15 flex items-center justify-center flex-col space-y-10">
    <h2><%= t('.profile') %></h2>
    <%= image_tag @user.google_image_url, alt: @user.name, class: "w-20 rounded-full" %>

    <%= turbo_frame_tag "user_profile_frame" do %>
      <%= render "profile_display", user: @user %>
    <% end %>

    <h2 class="mt-15 text-2xl"><%= t('.your_questions')%></h2>
        <% if @user.questions.any? %>
            <div class="user-questions-list">
            <% @user.questions.each do |question| %>
                <%= render "questions/question", question: question %>
            <% end %>
            </div>
        <% else %>
            <p><%= t('.no_questions')%></p>
            <%= link_to t('.post_new_question'), new_question_path, class: "button" %>
        <% end %>
</div>